body{
  background-color: gray;
  overflow-x: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html {
  scroll-behavior: smooth;
}

/* Styles for mobile devices */
@media only screen and (max-width: 767px) {
  /* Your styles for mobile devices here */
  body{
    font-size: 17px ;
  }
  .image-mobil{
    object-fit: scale-down;
  }
  .searchdiv{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
  }
  .searchdiv >div {
    width: 100%;
  }
  .searchdiv div >input,
  .searchdiv  >button,
  .searchdiv div >a{
    display: block;
    width: 100% !important;
    margin: 5px !important;
  }
  .searchdiv .search_ff{
    width: 100% !important;
    height: auto !important;
  }
  .searchdiv .search_ff input{
    width: 100% !important;
    height: 20px !important;
  }
  .searchdiv .search_ff{
    width: 100% !important;
    height: auto !important;
  }
  .searchdiv .search_ff input{
    width: 100% !important;
    height: auto !important;
  }
  
}
/* .react-transform-component,
.transform-component-module_content__FBWxo {
  transform: translate(0px, 0px) scale(1) !important;
}

#mosaic-container {
  transform: translate(0px, 0px) scale(1) !important;
} */
/* .container-panel{
  width: 100% !important;
  overflow: hidden !important;
  backgroundred
}
.container-panel >div {
  width: fit-content !important;
  overflow: hidden   !important;
} */