body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#312e2e !important;
}
.navbar {
  background-color:white !important;
}
.logocolor1{
  color:#F29222 !important;
  font-size: 19px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@media only screen and (max-width: 767px) {
  /* Your mobile styles go here */
  .image-mobile{
    width: 100%;
  }
  .ReactModal__Content {
    height: 96vh !important;
  }
  .mobile-design{
    flex-direction: column;
  }
  .btn-div{
    margin-top: 27px;
  }
  .form-floating input{
    width: 100% !important;
  }
  .ali {
    display: flex;
    flex-direction: column;
  }
  .ali >div{
    display: flex;
    flex-direction: column;
  }
  .mobile-design{
    display: flex;
    flex-direction: column;
  }
  .model1_buttons{
    width: 100% !important;
    margin: 5px;
  }
}

